<article id="2" class="bg-light-gray tl ph4 w-60-m w-25-l ma4-ns ba-ns bw1-ns self-start-ns">
    <a href="#2" class="db tc w1 h1 center"></a>
    <section class="pv2">
        <h1 class="f4 mb0">Longest movie:</h1>
        <p class="mt0"><time datetime="{{ movieData.longestMovie.hours }}h {{ movieData.longestMovie.minutes }}m" class="code pa1 bg-dark-purple light-gray b">{{ movieData.longestMovie.hours }} hours and {{ movieData.longestMovie.minutes }} minutes</time></p>
   </section>

    <section class="pv2 bt bb-0 bl-0 br-0 bw1 b--dashed">
        <h1 class="f4 mb0">Shortest movie:</h1>
        <p class="mt0"><time datetime="{{ movieData.shortestMovie.hours }}h {{ movieData.shortestMovie.minutes }}m" class="code pa1 bg-dark-purple light-gray b">{{ movieData.shortestMovie.hours }} hour and {{ movieData.shortestMovie.minutes }} minutes</time></p>
   </section>

    <section class="pv2 bt bb-0 bl-0 br-0 bw1 b--dashed">
        <h1 class="f4 mb0">Average runtime:</h1>
        <p class="mt0"><time datetime="{{ movieData.averageRuntime.hours }}h {{ movieData.averageRuntime.minutes }}m" class="code pa1 bg-dark-purple light-gray b">{{ movieData.averageRuntime.hours }} hours and {{ movieData.averageRuntime.minutes }} minutes</time></p>
   </section>
</article>
