<article id="4" class="bg-light-gray tl ph4 w-60-m w-25-l ma4-ns ba-ns bw1-ns self-start-ns">
    <a href="#4" class="db tc w1 h1 center"></a>
    <section class="pv2">
        <p>I seem to prefer <em class="code pa1 bg-dark-purple light-gray b fs-normal">movie_age_adjective</em> movies; I've watched <strong class="code pa1 bg-dark-purple light-gray">{{ movieData.topYear[0].count }}</strong> from <time datetime="{{ movieData.topYear[0].year }}" class="code pa1 bg-dark-purple light-gray b">{{ movieData.topYear[0].year }}</time>.</p>
   </section>

    <section class="pv2 bt bb-0 bl-0 br-0 bw1 b--dashed">
        <h1 class="f4 mb0">Number of movies per decade:</h1>
        <ul>
            {% for decadesData in movieData.decades %}
                <li class="pa1 flex justify-between">
                    <span>{{ decadesData.decade }}0s</span>
                    <span class="code b">{{ decadesData.count }}</span>
                </li>
            {% endfor %}
        </ul>
   </section>
</article>
