{% extends 'base.html.twig' %}

{% block subtitle %}Movies{% endblock %}

{% block body %}
    <div class="bg-white dark-purple sans-serif">
        <main class="f4 lh-copy tc flex-ns flex-wrap-ns justify-center-ns">

            {{ include('movie_data/_data.misc.html.twig') }}
            <div class="separator w-100 h2 dn-ns"></div>
            {{ include('movie_data/_data.runtime.html.twig') }}
            <div class="separator w-100 h2 dn-ns"></div>
            {{ include('movie_data/_data.genres.html.twig') }}

            <div class="separator w-100 h2 dn-ns"></div>
            {{ include('movie_data/_data.decades.html.twig') }}
            <div class="separator w-100 h2 dn-ns"></div>
            {{ include('movie_data/_data.directors.html.twig') }}
            <div class="separator w-100 h2 dn-ns"></div>
            {{ include('movie_data/_data.actors.html.twig') }}

            <div class="separator w-100 h2 dn-ns"></div>
            {{ include('movie_data/_data.rating_system.html.twig') }}
            <div class="separator w-100 h2 dn-ns"></div>
            {{ include('movie_data/_data.my_ratings.html.twig') }}
            <div class="separator w-100 h2 dn-ns"></div>
            {{ include('movie_data/_data.imdb_ratings.html.twig') }}

        </main>
    </div>
{% endblock %}
